footer.footer {
  div.columns {
    div.column {
      figure {
        width: 300px;
        margin: 0 auto;
        margin-bottom: 12px;
      }
      div.columns {
        div.column {
          text-align: center;
          p {
            font-size: 10px;
            color: lighten($grey, 30)
          }
        }
      }
    }
  }  
}