
    footer.footer {
      div.content {
        figure {
          width: 20rem;
          height: auto;
          margin:0 auto;
        }
        nav.level {
          margin: 0 auto;
          div.level-item.has-text-centered {
            h6 {
              font-weight: 200;
              color: grey;
              font-size: 14px;
            }
          }
        }
      }
    }

@media screen and (max-width: 1024px) {

      footer.footer {
        display: none;
      }
    }