div.columns {
  div.main-section {
    background: $grey;
    nav.level {
      div.level-left {
        div.level-item {
          width: 280px;
          padding: 2rem;
        }
      }
    }
    section.hero {
      div.hero-body {
        div.container {
          h1.title.is-size-2 {
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 800;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 5px;
          }
          nav.level {
            div.level-item.has-text-centered {
              &:hover {
                background: lighten($grey, 10);
                transition: 0.5s ease-in-out;                          
              }
            }
          }
        }
      }
    }
  }
  div.form {
    section.hero {
      div.hero-body {
        div.container {
          h1 {
            text-transform: capitalize;  
            text-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);          
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  div.columns {
    div.main-section {
      background-color: $grey;
      height: fit-content;
    }

    section.hero {
      div.hero-body {
        div.container {
          h1.title.is-size-2 {
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 800;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size: 1rem !important;
          }
          nav.level {
            div.level-item {         
              a {                
                figure.image {
                  width: 80px;;
                  height: auto;
                  margin: 0 auto;
                }
              }
            }
          }
        }
      }
    }
    
    div.form {
      background: $green;
    }
  }
}